<div class="min-h-screen bg-white p-8">
  
  <h1 class="text-gray-700 text-2xl font-bold mb-6">Mis contactos</h1> 
 <div class="flex justify-end mb-6"
 (click)="toggleNotifications()"
 >

  <p-overlaybadge 
    [value]="unreadCount > 0 ? unreadCount.toString() : ''"
     severity="danger"
    badgeSize="small">
    <i class="pi pi-bell text-black text-3xl" style="font-size: 2rem;"></i>
  </p-overlaybadge>
</div>

  
  <div class="flex gap-4 mb-8">
    
    <input 
      type="text" 
      placeholder="Buscar contactos" 
      class="w-[70%] px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 text-gray-500"
    >
    
    <!-- Envuelve el p-button en un div con flex-1 -->
    <div class="flex-1">
      <p-button 
        severity="info"
        label="Crear Contacto"
        icon="pi pi-plus"
        styleClass="w-full"
      />
    </div>
    
  </div>
  
  <div class="border border-gray-300 rounded-lg p-4">
    <p class="text-gray-500 text-center">Lista de contactos aquí...</p>
    <p-table class="bg-white" [value]="data">
        <ng-template pTemplate="header">
        <tr class="text-gray-500">
            @for (col of columns;track col){
            <th [class.text-right]="col.align === 'right'">{{col.name}}</th>
        }
        </tr>

        </ng-template>
        <ng-template pTemplate="body" let-rowData>
            <tr>
                <td>
                    {{rowData.name}}
                </td>
                 
                <td class="text-right">
                  <div class="flex justify-end gap-2">
                  @for (action of rowData.actions; track action)
                {
                  <p-button
                  [icon]="action.icon"
                  [title]="action.title"
                  [severity]="action.severity"
                   class="p-button-text"
                  >

                  </p-button>
                   }
                   </div>
                </td>
                 
          
             
            </tr>

        </ng-template>
    </p-table>
  </div>
  
</div>